
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
}

hr{
    color:grey ; margin :0
}

option{
    font-family:'Poppins', sans-serif; ;
}

input{
    border: none;
    outline: none;
}

select{
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    color: gray;
    
}

.workbook-name-cont{
    margin-left: 1rem;
    display: flex;
    align-items: end;
    height: max-content;
    align-items: center;
}

.name-menu-cont{
    height: 5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.name-menu-cont>.workbook-name-input:hover{
    border: solid 1px rgb(175, 175, 175);
    border-radius: 3px;
    line-height: 1.5rem;
}

.menu-cont{
    display: flex;
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    gap: 1rem;
    align-items: center;
    height: 2rem;
    
}

.menu-cont>*:hover{
    background-color: #f4f4f4;
}

.edit-options-cont{
    background-color: #f4f4f4;
    color: grey;
    padding: 0 1rem;
    height: 2.5rem;
    display: flex;
    gap: 1rem;      
    align-items: center;
}
.function-cont{
    display: flex;
    align-items: center;
    height: 1.5rem;
    background-color: #f4f4f4;
}

.cell-name-display{
    margin-left:1rem;
    height : 1.4rem;
    width:3rem; 
    border-right: solid 2px #f4f4f4;
}

.fxn-icon{
    margin-left:2rem ; 
    height: 3rem; 
}

.function-input{
    width: calc(100vw - 3rem - 3rem);
    border-left: solid 2px #f4f4f4;
    height: 1.5rem;
}


.input-cell-cont{
    height:calc(100vh - 5rem - 2.5rem - 1.5rem - 3rem);
    overflow: scroll;
    position: relative;
}

.top-left-cell
{
   width : 2.5rem;
   height: 1rem;
   border: none;
   border-top: solid 1px;
   border-right: solid 0.5rem grey ;
   border-bottom: solid 0.5rem grey ;
   background-color: #f4f4f4;
   position: fixed;
   z-index: 1;
}

.cells-cont{
    position: absolute;
    top: 1.6rem;
    left: 3rem;
}

.col-name-cont{
    display: flex;
    width: max-content;
    position: sticky;
    top: 0;
    left: 3rem;
    background-color: #f4f4f4;
}

.col-name-cont>*{
    text-align: center;
    width: 6rem;
    border: solid 1px grey;
    border-right: none;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif; 
    font-size: 0.8rem;
    color: grey;
}



.row-name-cont{
    display: flex;
    flex-direction: column;
    width: 3rem;
    position: sticky;
    left: 0;
}

.row-name-cont>*{
    text-align: center;
    line-height: 2rem;
    border: solid 1px grey ;
    border-top: none;
    border-left: none;
    background-color: #f4f4f4;
    width: 3rem;
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.6rem;
}

.row{
    display: flex;
    left: 3rem;
    width: max-content;
}

.row>*{
    width: 6rem;
    height: 2rem;
    border: solid 1px;
    border-top: none;
    border-right: none;
    line-height: 2rem;
}

.sheet-cont{
    color: grey;
    display: flex;
    padding-left: 1rem;
    gap: 1rem;
    height: 3rem;
    background-color: #f4f4f4;
}

.new-sheet-btn{
    align-self: center;
}

